.idea
tmp
__debug_*
examples/terraform.log
examples/terraform.*
kubiya-control-plane
terraform-provider-*
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
